html {
  text-align: center;
  font-family: "Varela", sans-serif;
  font-size: 16px;
  margin: 0px;
  background-color: #5cdb95;
  color: #05386b;
}

/* Nav bar */
.soc-btn-container {
  background-color: #5cdb95;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: center;
}

.soc-btn:hover{
  color: #edf5e1;
}

.soc-btn{
  display: block;
  color: #05386b;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 40px;
  text-align: center;
}
/* Nav bar */

body {
  margin: 0px;
}

#description {
  display: inline-block;
  color: #05386b;
  margin: 5px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
}

.header {
  text-align: center;
  color: #edf5e1;
}

.page-outline {
  border: solid 1px #edf5e1;
  border-radius: 2px;
  margin: 0% 10%;
  margin-bottom: 1%;
  background-color: #edf5e1;
}

.button {
  border: none;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 10px;
  background-color: #05386b;
  text-align: center;
  color: #ffffff;
}

.button:hover {
  color: white;
  background-color: #379687;
  cursor: pointer;
}

#comment {
  display: inline-block;
  width: 40%;
  text-align: left;
  resize: vertical;
  vertical-align: middle;
  border: solid 0.7px gray;
}

.space-between {
  margin: 15px;
}

.text-input {
  box-sizing: border-box;
  text-align: left;
  border-radius: 2px;
  padding: 10px;
  border: solid 0.7px gray;
  width: 300px;
}

.required {
  color: red;
}

.small-text {
  font-size: 10px;
}

.dropbtn {
  height: 30px;
  width: 220px;
  margin-top: 5px;
  border: solid 0.7px gray;
}

.footer {
  background-color: #555555;
  color: #f2f2f2;
  padding: 15px;
  font-size: 10px;
  margin: 0px;
  text-align: left;
}

.copyright {
  float: center;
}

.radio-btn-label {
  font-weight: 100;
}

.input-desc {
  display: block;
  font-weight: bold;
}

textarea {
  font-family: inherit;
}

@media only screen and (max-width: 768px) {
  .text-input {
    width: 80%;
  }
  #comment {
    width: 80%;
  }
}
@media only screen and (max-width: 450px) {
    .text-input {
      width: 98%;
    }
    #comment {
      width: 90%;
    }
    .page-outline{
      margin: 0% .5rem;
    }
  }