html {
    text-align: center;
    font-family: 'Varela', sans-serif;
    font-size: 14px;
    margin: 0px;
    background-color: #5CDB95;
    color: #05386B;
}


/* Nav bar */
.nav-bar{
    background-color: #5CDB95;
    margin: 0;
    padding: 0;
    text-align: center;
}

.nav-bar li{
    display: inline-block;
}

.nav-bar li a:hover{
    color: #edf5e1;
}

.nav-bar li a {
    display: block;
    color: #05386B;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 30px;
    text-align: center;
}
/* Nav bar */


body {
    margin: 0px;
}

label, #description{
    display: inline-block;
    font-weight: 700;
    color: #05386B;
    margin: 5px;
}

#description{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.header {
    text-align: center;
    color: #edf5e1;
}

.page-outline {
    border: solid 1px #edf5e1;
    border-radius: 2px;
    margin: 5% 10%;
    margin-top: 3%;
    background-color: #edf5e1;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 10px;
    background-color: #05386B;
    text-align: center;
    color: #ffffff;
}

.button:hover {
    /* box-shadow: 0px 0px 10px gray; */
    color: #white;
    background-color: #379687;
}

#comment {
    display: inline-block;
    width: 40%;
    text-align: left;
    resize: vertical;
    vertical-align: middle;
    border: solid 0.7px gray;
}

.space-between {
    margin: 15px;
}

.text-input {
    text-align: left;
    border-radius: 2px;
    padding: 10px;
    border: solid 0.7px gray;
    width: 150px;
}

#comment{
    width: 50%;
}

.required{
    color: red;
}

.small-text{
    font-size: 10px;
}

.dropbtn{
    height: 30px;
    width: 150px;
    margin-top: 5px;
    border: solid .7px gray;
}

@media only screen and (max-width: 768px){
    .text-input{
        width: 90%;
    }
    #comment{
        width: 80%;
    }
}